Nonlinear[[:space:]]dynamics[[:space:]]and[[:space:]]chaos[[:space:]]_[[:space:]]with[[:space:]]applications[[:space:]]to[[:space:]]physics,[[:space:]]biology,[[:space:]]chemistry,[[:space:]]and[[:space:]]engineering[[:space:]]--[[:space:]]Strogatz,[[:space:]]Steven[[:space:]]Henry.pd filter=lfs diff=lfs merge=lfs -text
信息论、推理与学习算法（Information[[:space:]]Theory,[[:space:]]Inference[[:space:]]and[[:space:]]Learning[[:space:]]Algorithms）[[:space:]]--[[:space:]]David[[:space:]]J.C.[[:space:]]MacKay.pdf filter=lfs diff=lfs merge=lfs -text
