Nonlinear[[:space:]]dynamics[[:space:]]and[[:space:]]chaos[[:space:]]_[[:space:]]with[[:space:]]applications[[:space:]]to[[:space:]]physics,[[:space:]]biology,[[:space:]]chemistry,[[:space:]]and[[:space:]]engineering[[:space:]]--[[:space:]]Strogatz,[[:space:]]Steven[[:space:]]Henry.pd filter=lfs diff=lfs merge=lfs -text
